<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TP1examuml</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/fontawesom/fontawesome/css/fontawesome.min.css" />
    <link rel="stylesheet" href="~/lib/fontawesom/fontawesome/css/fontawesome.min.css" />
    <link rel="stylesheet" href="~/lib/fontawesom/fontawesome/css/solid.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TP1examuml.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <div class="top">
            <div>
                Contactez-nous +221 338786596 | dalalDjam@hopital.com
            </div>
        </div>

        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a width="600px" style="font-size:50px;font-family:forte;"> <font color="#428bca"> Dalal </font><font color="#000"> Jaam</font>></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @if(User.Identity.IsAuthenticated){
                        <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            if(User.IsInRole("Admin")){
                                
                               
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Patients" asp-action="Index">Patient</a>
                                    </li>
                                
                               
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Medecins" asp-action="Index">Medecin</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Role" asp-action="Index">Role</a>
                                </li>

                                <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                                    <ul class="navbar-nav">
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                Status
                                            </a>
                                            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                                                <li><a class="dropdown-item" href="#">En attente</a></li>
                                                <li><a class="dropdown-item" href="#">Confirme </a></li>
                                                <li><a class="dropdown-item" href="#"> Annule</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            }
                            if (User.IsInRole("Medecin"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Consultations" asp-action="Index">Consultation</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Medecins" asp-action="ListeRendezVous">Rendez Vous</a>
                                </li>

                                <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                                    <ul class="navbar-nav">
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                               Status
                                            </a>
                                            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                                                <li><a class="dropdown-item" href="#">En attente</a></li>
                                                <li><a class="dropdown-item" href="#">Confirme </a></li>
                                                <li><a class="dropdown-item" href="#"> Annule</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            }
                            if (User.IsInRole("Patient"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Patients" asp-action="ListeDesMedecins">Liste Des Medecins</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="RendezVous" asp-action="Create">Prendre un Rendez-Vous</a>
                                </li>

                            }
                           

                           
                        }

                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @*<footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - TP1examuml - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>*@
    <script src="~/lib/datatables/jquery-3.5.1.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/fontawesom/fontawesome/js/fontawesome.min.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
