
<h2 class=" align-content-end">Medecin : Khardiata Ndiaye</h2>
<h2 class=" align-content-end">Date : @DateTime.Now</h2>
<P class="text-black text-capitalize">Ordonnance</P>
<table class="table">
    <thead>
        <tr>
            <th>Nom Medicament</th>
            <th>Nombre de prise</th> 
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>Test</td>
            <td>2 fois /jour</td>
        </tr>
     

    </tbody>
</table>
